<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--<title>{% block title %}Welcome!{% endblock %}</title>-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <!--<link rel="stylesheet" href="{{asset("css/font-awesome/css/font-awesome.min.css")}}" media="screen" title="no title">
        <link rel="stylesheet" href="{{asset("css/master.css")}}" media="screen" title="no title">-->
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{asset("js/script.js")}}" charset="utf-8"></script>
        {% block javascripts %}{% endblock %}
        {% block jquery %}{% endblock %}
    </body>
</html>
