{% extends "FOSUserBundle::layout.html.twig" %}

{% block users_list %}
<ul>
    {% for entity in entities %}
        <li>
			{{ entity.nom }} 
			{{ entity.prenom }}
			{% if entity.enabled %}
				activé
			{% else %}
				désactivé
			{% endif %}
			<a href="{{ path('users_edit', { 'id': entity.id }) }}">Modifier</a> 
			<a href="{{ path('users_show', { 'id': entity.id }) }}">Voir</a>
		</li>
    {% endfor %}
</ul>
{% endblock users_list %}
