{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}
    <div class="block_search">
      <div class="inner_block_search">
        <div class="search">
          <form class="">
            <button type="submit" name="button"></button>
            <input type="search" name="" value="" placeholder="Recherche...">
            <div class="filter_by">
              <select class="" name="">
                <option value="">Par nom</option>
                <option value="">Par prénom</option>
              </select>
            </div>
          </form>
        </div>
          <div class="filter_block">
            <div class="form_filter">
                <form>
                    <div class="filter_group">
                        <div class="blfilter">
                            <label for="">Permis</label>
                            <select class="" name="">
                                <option value="">A</option>
                                <option value="">B</option>
                                <option value="">Poids Lourd</option>
                                <option value="">Moto</option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="blfilter">
                            <label for="">QPV</label>
                            <select class="" name="">
                                <option value="">A</option>
                                <option value="">B</option>
                                <option value="">Poids Lourd</option>
                                <option value="">Moto</option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="blfilter">
                            <label for="">RQTH</label>
                            <select class="" name="">
                                <option value="">Oui</option>
                                <option value="">Non</option>
                            </select>
                        </div>
                        <div class="blfilter">
                            <label for="">Genre</label>
                            <select class="" name="">
                                <option value="">Oui</option>
                                <option value="">Non</option>
                            </select>
                        </div>
                        <div class="blfilter">
                            <label for="">Métier</label>
                            <select class="" name="">
                                <option value="">Maçon</option>
                                <option value="">Plombier</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="spacer_filter"></div>
            <div class="toggle_filter">
              <span>Fermer le filtre de recherche</span>
            </div>
          </div>
        <div class="container_search">
          <div class="row_search">
            <div class="box">
              <span>prenom nom</span>
            </div>
            <div class="box">
              <span>info personnelle</span>
            </div>
            <div class="box">
              <span>qpv</span>
            </div>
            <div class="box">
              <span>id pole emploi</span>
            </div>
            <div class="box">
              <span>rqth</span>
            </div>
            <div class="box">
              <span>permis</span>
            </div>
            <div class="box">
              <span>métier</span>
            </div>
          </div>

          <div class="rows">
            {% for demandeur in demandeurs %}
            <div class="row_item">
              <div class="group_detail">
                <div class="item_detail_name">
                  <span class="item_detail_span">Gwenn Jolie</span>
                </div>
                <div class="item_detail_infoperso">
                  <span class="genre">Femme</span>
                  <span class="mail">username@server.fr</span>
                  <span class="numb">Tel: 0123456789</span>
                </div>
                <div class="item_detail_name">
                  <span class="item_detail_span">CLEUNAY</span>
                </div>
                <div class="item_detail_qpv">
                  <span class="item_detail_span">Oui</span>
                </div>
                <div class="item_detail_pemploi">
                  <span class="item_detail_span">AB0123456789</span>
                </div>
                <div class="item_detail_permis">
                  <span class="item_detail_span">Permis A</span>
                </div>
                <div class="item_detail_metier">
                  <span class="item_detail_span">Plombière</span>
                </div>
              </div>
              <div class="option_items">
                <div class="option_profil_show">
                  <a href="{{ path('demandeur_show', { 'id': demandeur.id }) }}">Voir</a>
                </div>
                <div class="option_profil_edit">
                  <a href="{{ path('demandeur_edit', { 'id': demandeur.id }) }}">Éditer</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!--{{dump(demandeurs)}}
    {% for item in demandeurs %}
        <h1>{{item.nom}}</h1>
    {% endfor %}-->
{% endblock %}
