{% extends 'FOSUserBundle::layout.html.twig' %}

{% block job_hunter %}
    <div class="block_search">
      <div class="inner_block_search">
        <div class="search">
          <form class="">
            <button type="submit" name="button"></button>
            <input type="search" name="" value="" placeholder="Rechcerche...">
            <div class="filter_by">
              <select class="" name="">
                <option value="">Par nom</option>
                <option value="">Par prénom</option>
              </select>
            </div>
          </form>
        </div>
          <div class="filter_block">
            <div class="filter_group">
              <div class="blfilter">

              </div>
              <div class="blfilter">

              </div>
              <div class="blfilter">

              </div>
              <div class="blfilter">

              </div>
              <div class="blfilter">

              </div>
            </div>
            <span>Fermer le filtre de recherche</span>
          </div>
        <div class="container_search">
          <div class="row_search">
            <div class="box">
              <span>prenom nom</span>
            </div>
            <div class="box">
              <span>info personnelle</span>
            </div>
            <div class="box">
              <span>qpv</span>
            </div>
            <div class="box">
              <span>id pole emploi</span>
            </div>
            <div class="box">
              <span>rqth</span>
            </div>
            <div class="box">
              <span>permis</span>
            </div>
            <div class="box">
              <span>métier</span>
            </div>
          </div>
          <div class="rows">
            <div class="row_item">
              <div class="item_detail">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
