@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html,body{
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  font-family: 'Roboto',sans-serif;
}
*{
  box-sizing: border-box;
}
ul, li, a{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container_login{
  width: 350px;
  height: 670px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #FFF;
}
.link_ad, .one{
  display: block;
}

.welcome_login{
  height: 60%;
  padding: 0 35px;
  padding-top: 1px;
}
.message{
    margin-top: 160px;
}
.message span{
  font-size: 19px;
  color: #828282;
}
.brand{
  font-size: 36px;
  color: #ED9767;
  text-align: center;
}
.form_login{
  height: 40%;
  padding: 0 35px;
  padding-top: 1px;
  background-color: #24888F;
  color: #FFF;
}
[for="username"], [for="password"]{
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
[type="text"], [type="password"]{
  width: 100%;
  height: 41.54px;
  border: 2px solid #FFF;
  background-color: transparent;
}
#login_session [type="submit"]{
  width: 100%;
  background-color: #ED9767;
  border: 0;
  height: 45px;
  margin-top: 15px;
}
.forget{
  font-size: 10px;
  text-transform: uppercase;
}
.form_login a{
  color:#FFF;
  font-weight: 500;
  text-decoration: none;
}
.forget_link{
  text-align: center;
}

/*SideBar Dashboard*/
#wrapper{
  height: 100vh;
}
.container{
  display: flex;
  height: 100vh;
}
.sidebar{
  display: table;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  height: 100%;
  width: 200px;
  background-color: #24888F;
  padding: 5px 0;
}
.app_title{
  text-align: center;
}
.app_title h1{
  font-family: 'Roboto Slab';
  font-size: 30px;
  font-weight: bold;
  margin: 58px 0 115px 0;
}
.menu_account{
  text-align: center;
}
.username span{
  font-size:18px;
}
.username{
  position: relative;
}
/*.username:after{
  content: '\f107';
  text-rendering: auto;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 18px;
  top: 3px;
}*/
.status{
  margin-top: 10px;
}
.status span{
  color: #ED9767;
  font-size: 14px;
  font-family: inherit;
}
.profil_submenu{
  display: flex;
  justify-content: start;
  height: 0px;
  margin-top: 13px;
  font-size: 14px;
  font-weight: 300;
  background-color: #15696F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  transition: 0.25s;
}
.profil_submenu ul{
  padding-left: 0px;
  width: 100%;
}
.sidebar a:hover{
  color: #ED9767;
    transition: 0.25s;
}
.profil_submenu li{
  margin-top: 15px;
  text-align: center;
}
.menu_option{
  margin-top: 75px;
  font-weight: 300;
  font-size: 14px;
}
.menu_option ul{
  width: 100%;
}
.sidebar a{
  color: #FFF;
}
.menu_item{
  font-weight: 400;
  padding-left: 54px;
  margin-bottom: 20px;
  font-weight: 400;
}
/*.menu_item::after {
  content: "\f0dd";
	position: absolute;
  top: 15px;
  font-family: fontawesome;
  right: 50%;
}*/
.sub_menu{
  height: 0px;
  font-size: 10px;
  overflow: hidden;

}
.sub_menu li{
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.toggle{
  position:absolute;
  right: 18px;
  top: 3px;
  cursor: pointer;
  transition: 0.25s;
}
.show{
  height: 80px;
}
.show_submenu{
  height: 60px;
}
.rotate{
  transform: rotateX(180deg);
}

/*CONTENT-DASBOARD*/

.content_dashboard{
  width: 100%;
  height: 100vh;
  padding: 45px 70px;
}
/*BLOCK*/
.column_1{
  width: 56.3%;
  margin-right: 21.5px;
}
.column_2{

  margin-left: 21.5px;
}
.block_sub{
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  color: #BDBDBD;
  width: 100%;
  box-shadow: 0px 1px 2px #c4c4c4;
  font: 14px 'Roboto', sans-serif;
  margin-bottom: 4px;
  padding: 5px 15px;
  background: #FFF;
}
.register_flux{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.register_flux div:nth-of-type(){
  display: none;
}*/
.bloc_form{
  height: 46px;
}
.nom{
  width: 40%;
}
.prenom{
  width: 60%;
}
.naissance{

}
.deptNaissance{

}
.villeN{
  margin-left: 13px;
}
.paysN{

}
.nationalite{

}
.content_dashboard label{
  display: block;
  color: #24888F;
  font-size: 10px;
  /*padding-left: 15px;*/
  height: calc(100% - 58.70%);
  line-height: 20px;
}
.content_dashboard [type='text']{
  height: 58.70%;
/*  padding-left: 13px;*/
  color: #828282;
}

.mobilite{
  margin-right: 6.5px;
  color: #BDBDBD;
  width: 100%;
  box-shadow: 0px 1px 2px #c4c4c4;
  font: 14px 'Roboto', sans-serif;
  margin-bottom: 4px;
  background: #FFF;
  height: 100%;
  padding: 5px;
}
.ressource{
  display: flex;
  flex-direction: column;
  margin-left: 6.5px;
}
.custom_label{

}
.custom_bloc_form{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.block_doc{
  background-color: #fff;
  padding: 5px;
}
.full{
  width: 100%;
  display: block;
}
.column_2 textarea{
  background-color: #F2F2F2;
  border: none;
  resize: none;
  width: 100%;
  height: 110px;
  padding: 5px;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}
body ::-webkit-scrollbar-thumb{
  background: #C4C4C4;
}
.bloc_description{
  width: 100%;
}
.register_flux label{
  visibility: visible;
}
.qpvnom{
  visibility: hidden;
  transition: 0.25s;
}
.ShowBox{
  visibility: visible;
}

/*SEARCHING*/

.search{
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 405px;
  height: 46px;
  background-color: #E0E0E0;
  padding-left: 10px;
  margin: 0 auto;
}
.search form{
  display: flex;
  align-items: center;
  height: 100%;
}

.search input{
  background-color: transparent;
  border: none;
  color: #828282;
  height: 35px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.search input:focus{
  outline: none;
}

.search button{
  width: 20px;
  background-color: transparent;
  border: none;
}
.filter_by{
  height: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  color: #828282;
  position: relative;
  /*padding-left: 15px;*/
}

.filter_by:after{
    content: '\f0dd';
    position: absolute;
    font-size: 10px;
    font-family: "FontAwesome";
    bottom: 17px;
    right: 12px;
    z-index: 1;
    color: #C4C4C4;
}

.filter_by select{
  width: 95px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-size: 12px;
  padding-left: 9px;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* filter_ */

.filter_group{
  display: flex;
  justify-content: space-around;
  height: 44.5px;
  width: 100%;
}

.blfilter{
    width: 160px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-content: center;
    padding: 0 10px;
    padding-top: 20px;
    position: relative;
}

/* ROW SEARCH */

.row_search{
  display: flex;
  justify-content: space-around;
  height: 41px;
  background-color: white;
  width: 100%;
  margin-bottom: 5px;
}

.row_search .box span{
  display: block;
  line-height: 41px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #BDBDBD;
  text-align: center;
}

.filter_block{
    padding-top: 60px;
    margin-bottom: 70px;
}

.box{
  width: 135px;
}

.rows{
  background-color: #FFFFFF;
  width: 100%;
  min-height: 41px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row_item{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 63px;
  overflow: hidden;
}


.group_detail{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: #BDBDBD;
  min-height: 36px;
  height: 100%;
  font-size: 14px;
  border-bottom: 1px solid #c0c0c0;
  transition: 0.25s;
}

div.group_detail:last-of-type{
    border-bottom: none;
}

.gp_dl{
  background-color: #F1B18D;
  color: #FFFFFF!important;
  border-bottom: 2px solid #BB896D;
}

.group_detail:hover{
  background-color: #F1B18D;
  color: #FFFFFF!important;
}
.option_items{
  background-color: #DCA281;
  height: 0;
  max-height: 27px;
}

.item_detail_infoperso{
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.item_detail_infoperso span{
  text-align: center;
}

.item_detail_span{
/*   line-height: 41px; */
}

.option_items a{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.option_profil_show, .option_profil_edit{
  min-width: 50px;
  text-align: center;
}

.genre{
  margin-top: 1px;
  font-weight: bolder;
}

.mail{
  color: #ED9767;
}

.group_detail > span{
  line-height: 41px;
}

.option_items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.25s;
}

[class*="item_detail"]{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 135px;
  text-align: center;
}
[class*="item_detailuser"]{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  text-align: center;
}

.show_opt_item{
  height: 27px;
}

.toggle_filter{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.toggle_filter span{
  margin: 0 auto;
  color: #828282;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 0;
  position: relative;
}

.arrow_status{
  margin: 0 auto;
}

.blfilter > label{
    display: inline-block;
    width: 50px;
    font-size: 12px;
    color: #828282;
}
.blfilter > select{
    display: inline-block;
    width: 64%;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 18px;
    z-index: 2;
    background: transparent;
    color: #828282;
    font-style: oblique;
}
.blfilter option{
    background-color: #ffffff;
    border:0px;
    outline:0px;
}

.blfilter:after{
    content: '\f0dd';
    position: absolute;
    font-size: 10px;
    font-family: "FontAwesome";
    bottom: 13px;
    right: 12px;
    z-index: 1;
    color: #C4C4C4;
}

.form_filter{
    overflow: hidden;
    height: 0px;
    transition: 0.25s;
}
.show_filter{
    height: 60px;
}

.spacer_filter{
    width: 100px;
    height: 2px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

.toggle_filter span::after {
    content: '\f0dd';
    position: absolute;
    top: 15px;
    font-family: fontawesome;
    right: 50%;
}

.container_list_user{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.container_list_user h1{
  margin-bottom: 24px;
    color: #F1B18D;
    font-weight: normal;
    font-size: 23px;
}

/* REGISTER USER */


.container_registerUser{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container_registerUser .inner_container{
  width: 55%;
  margin: 0 auto;
  padding: 25px 60px;
  background: white;
}

.box_user_form:first-child{
  display: flex;
  justify-content: center;
}

.box_user_form:first-child .group_form_user{
  font-size: 0;
  display: block;
}

.box_user_form:first-child .group_form_user div{
  display: inline-block;
}

.box_user_form:first-child .group_form_user label{
  display: inline-block;
}

.box_user_form:first-child select{
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid #c0c0c0;
  background-color: transparent;
}

.box_user_form:nth-child(2){
  display: block;
  font-size: 0;
  margin: 20px 0;
}

.box_user_form:nth-child(2) > div{
  display: inline-block;
  width: 50%;
}

.box_user_form:nth-child(2) [type="text"]{
  border-bottom: 1px solid #c0c0c0;
}

.box_user_form:nth-child(2) div:first-child{
  padding-right: 10px;
}

.box_user_form:nth-child(2) div:nth-child(2){
  padding-left: 10px;
}

.box_user_form:nth-child(3){
  margin: 25px 0;
}

.box_user_form:nth-child(3) div{
  display: table;
  /*margin: 0 auto;*/
}

.box_user_form .group_form_user_email input{
  border: 0;
  border-bottom: 1px solid #c0c0c0;
}

.box_user_form:nth-child(4){
  display: block;
  font-size: 0;
}

.box_user_form:nth-child(4) div{
  display: inline-block;
  width: 50%;
}

.box_user_form:nth-child(5) input{
  float: right;
  height: 35px;
  width: 150px;
  border: 0;
  background-color: #ED9767;
  color: white;
}
/* Section responsive */

@media ( max-width: 1301px ) {

  #login_session{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container_login{
    width: 295px;
    height: 560px;
    margin-top: 0;
  }

  .welcome_login{
    height: 55%;
  }

  .form_login{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  [type="text"], [type="password"]{
    height: 35px;
  }

  #login_session [type="submit"]{
    height: 35px;
  }

  #login_session [for="username"], #login_session [for="password"]{
    font-size: 10px;
    font-weight: 500;
  }

  #login_session [for="username"] {
    margin-top: 0;
  }
}


/* USER PROFILE SHOW */

.container_user_user_show{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fos_user_user_show{
    width: 55%;
    margin: 0 auto;
    padding: 25px 60px;
    display: table;
    background-color: #FFFFFF;
}

.user_status{
    text-align: center;
}

.user_status h1{
    font-size: 36px;
    font-weight: 200;
    color: #828282;
    margin-bottom: 5px;
}

.untitle_status p{
    display: inline-block;
}

.box_profil_user{
    margin-top: 20px;
}

.box_email{
    text-align: center;
}

.box_btn{
    display: table;
    width: 100%;
    margin-top: 30px;
}

.btn_edit{
    height: 35px;
    width: 120px;
    background-color: #ED9767;
    text-align: center;
    line-height: 35px;
    color: white;
    font-weight: 300;
    float: right;
}

/*floryan*/
.form_newflux{
    width: 100%;
    margin: 0 auto;
    padding: 25px 60px;
    display: table;
    background-color: #FFFFFF;
}
.NewFlux {
    display: flex;
    justify-content: space-around;
}
.formLeft {
    flex-direction: column;
}
.photos {
    width: 150px;
    min-height: 150px;
    margin-top: 20px;
    background-color: #4d4a4a;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
}
.photos img {
  	width: 100%;
}