@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html,body{
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
  font-family: 'Roboto',sans-serif;
}
*{
  box-sizing: border-box;
}
ul, li, a{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container_login{
  width: 350px;
  height: 670px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #FFF;
}
.link_ad, .one{
  display: block;
}

.welcome_login{
  height: 60%;
  padding: 0 35px;
  padding-top: 1px;
}
.message{
    margin-top: 160px;
}
.message span{
  font-size: 19px;
  color: #828282;
}
.brand{
  font-size: 36px;
  color: #ED9767;
  text-align: center;
}
.form_login{
  height: 40%;
  padding: 0 35px;
  padding-top: 1px;
  background-color: #24888F;
  color: #FFF;
}
[for="username"], [for="password"]{
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
[type="text"], [type="password"]{
  width: 100%;
  height: 41.54px;
  border: 2px solid #FFF;
  background-color: transparent;
}
[type="submit"]{
  width: 100%;
  background-color: #ED9767;
  border: 0;
  height: 45px;
  margin-top: 15px;
}
.forget{
  font-size: 10px;
  text-transform: uppercase;
}
.form_login a{
  color:#FFF;
  font-weight: 500;
  text-decoration: none;
}
.forget_link{
  text-align: center;
}

/*SideBar Dashboard*/
#wrapper{
  height: 100vh;
}
.container{
  display: flex;
  height: 100vh;
}
.sidebar{
  display: table;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  height: 100%;
  width: 200px;
  background-color: #24888F;
  padding: 5px 0;
}
.app_title{
  text-align: center;
}
.app_title h1{
  font-family: 'Roboto Slab';
  font-size: 30px;
  font-weight: bold;
  margin: 58px 0 115px 0;
}
.menu_account{
  text-align: center;
}
.username span{
  font-size:18px;
}
.username{
  position: relative;
}
/*.username:after{
  content: '\f107';
  text-rendering: auto;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 18px;
  top: 3px;
}*/
.status{
  margin-top: 10px;
}
.status span{
  color: #ED9767;
  font-size: 14px;
  font-family: inherit;
}
.profil_submenu{
  display: flex;
  justify-content: start;
  height: 0px;
  margin-top: 13px;
  font-size: 14px;
  font-weight: 300;
  background-color: #15696F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;

}
.profil_submenu ul{
  padding-left: 0px;
  width: 100%;
}
.sidebar a:hover{
  color: #ED9767;
}
.profil_submenu li{
  margin-top: 15px;
  text-align: center;
}
.menu_option{
  margin-top: 75px;
  font-weight: 300;
  font-size: 14px;
}
.menu_option ul{
  width: 100%;
}
.sidebar a{
  color: #FFF;
  transition: 0.25s;
}
.menu_option ul li{
  font-weight: 400;
  padding-left: 54px;
  margin-bottom: 20px;
  font-weight: 400;
}
.toggle{
  position:absolute;
  right: 18px;
  top: 3px;
}
.open{
  color: yellow;
}
.rotate{

}

/*CONTENT-DASBOARD*/

.content_dashboard{
  width: 100%;
  height: 100vh;
  padding: 45px 70px;
}
