@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html,body{
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  font-family: 'Roboto',sans-serif;
}
*{
  box-sizing: border-box;
}
ul, li, a{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
h5{
    margin: 0;
}
.container_login{
  width: 350px;
  height: 670px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #FFF;
}
.link_ad, .one{
  display: block;
}

.welcome_login{
  height: 60%;
  padding: 0 35px;
  padding-top: 1px;
}
.message{
    margin-top: 160px;
}
.message span{
  font-size: 19px;
  color: #828282;
}
.brand{
  font-size: 36px;
  color: #ED9767;
  text-align: center;
}
.form_login{
  height: 40%;
  padding: 0 35px;
  padding-top: 1px;
  background-color: #24888F;
  color: #FFF;
}
[for="username"], [for="password"]{
  /* font-size: 13px; */
/*   font-weight: bold; */
  display: block;
/*   margin-top: 15px; */
/*   margin-bottom: 10px; */
  text-transform: uppercase;
}

#login_session [type="text"],#login_session [type="password"]{
    color: #ffffff;
    height: 35px;
}

[type="text"], #login_session [type="password"]{
  width: 100%;
  /* height: 43px; */
    padding: 5px 10px 5px 5px;
  border: none;
  border-bottom: 1px solid #d9D9D9;
  background-color: transparent;
  font-size: 13px;
}
#login_session [type="submit"]{
  width: 100%;
  background-color: #ED9767;
  border: 0;
  height: 45px;
  margin-top: 15px;
}
.forget{
  font-size: 10px;
  text-transform: uppercase;
}
.form_login a{
  color:#FFF;
  font-weight: 500;
  text-decoration: none;
}
.forget_link{
  text-align: center;
}

/*SideBar Dashboard*/
#wrapper{
  height: 100vh;
}
.container{
  display: flex;
  height: 100vh;
}
.sidebar{
  display: table;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  height: 100%;
  width: 200px;
  background-color: #24888F;
  padding: 5px 0;
}
.app_title{
  text-align: center;
}
.app_title h1{
  font-family: 'Roboto Slab';
  font-size: 30px;
  font-weight: bold;
  margin: 58px 0 115px 0;
}
.menu_account{
  text-align: center;
}
.username span{
  font-size:18px;
}
.username{
  position: relative;
}
/*.username:after{
  content: '\f107';
  text-rendering: auto;
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 18px;
  top: 3px;
}*/
.status{
  margin-top: 10px;
}
.status span{
  color: #ED9767;
  font-size: 13px;
  font-family: inherit;
}
.profil_submenu{
  display: flex;
  justify-content: start;
  height: 0px;
  margin-top: 13px;
  font-size: 13px;
  font-weight: 300;
  background-color: #15696F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25) inset;
  overflow: hidden;
  transition: 0.25s;
}
.profil_submenu ul{
  padding-left: 0px;
  width: 100%;
}
.sidebar a:hover{
  color: #ED9767;
    transition: 0.25s;
}
.profil_submenu li{
  margin-top: 15px;
  text-align: center;
}
.menu_option{
  margin-top: 75px;
  font-weight: 300;
  font-size: 14px;
}
.menu_option ul{
  width: 100%;
}
.sidebar a{
  color: #FFF;
}
.menu_item{
  font-weight: 400;
  padding-left: 54px;
  margin-bottom: 20px;
  font-weight: 400;
}
/*.menu_item::after {
  content: "\f0dd";
	position: absolute;
  top: 15px;
  font-family: fontawesome;
  right: 50%;
}*/
.sub_menu{
  height: 0px;
  font-size: 10px;
  overflow: hidden;

}
.sub_menu li{
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.toggle{
  position:absolute;
  right: 18px;
  top: 3px;
  cursor: pointer;
  transition: 0.25s;
}
.show{
  height: 80px;
}
.show_submenu{
  height: 60px;
}
.rotate{
  transform: rotateX(180deg);
}

/*CONTENT-DASBOARD*/

.content_dashboard{
  width: 100%;
  height: 100vh;
  padding: 20px 60px 20px 60px;/* 45px 60px 20px 60px; */
}
/*BLOCK*/
.column_1{
  width: 56.3%;
  margin-right: 21.5px;
}
.column_2{
  width: 39%;
  margin-left: 21.5px;
}
.block_sub{
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
/*   color: #BDBDBD; */
  width: 100%;
  box-shadow: 0px 1px 2px #c4c4c4;
  margin-bottom: 4px;
  padding: 5px 15px;
  background: #FFF;
}
.register_flux{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.register_flux div:nth-of-type(){
  display: none;
}*/
.bloc_form{
/*   height: 46px; */
}
/* MARGIN_BLOCK_FORM*/

.margbloc{
    margin-top: 19px;
}

.paysN,.nationalite,.nom,.prenom{
  width: 45%;
}
.adress_email{
    width: 66%;
}
.paysN,.prenom{
  margin-right: 30px;
}


.detail_genre{
  width: 60%;
  text-align: center;
}

.genre select, .custom_select{
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid #868686;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-style: oblique;
}

.custom_select, .genre select{
    padding: 5px;
    font-size: 13px;
}

.autorisationTravail, .rqth{
    width: 100%;
}

.detail_cat_socio,.indice_cat_socio,.indice_niv, .detail_niv,.incide_allo, .detail_allo, .detail_autorisationTr,.indice_autorisationTr,.detail_rqth, .indice_rqth, .detail_permisC,.indice_permisC,.detail_moyenL ,.indice_moyenL,.indice_genre,.detail_genre{
  display: inline-block;
}
.cat_socio, .niveau,.indice_autorisationTr, .indice_rqth{
    padding-top: 22px;
}

.moyenL{
    padding-top: 6px;
    margin-top: 19px;
}

.indice_permisC{
    padding-top: 9px;
    margin-top: 19px;
}

.niveau{
    margin-right: 18px;
}
.indice_permisC label:after{
    content: '?';
    font-size: 13px;
}
.moyenL{
    width: 80%;
    font-size: 0;
}
.cpslabel, .nivEtlabel,.incide_allo label,.indice_autorisationTr label, .indice_rqth label, .indice_moyenL label,.indice_permisC label{
  font-size: 13px!important;
  font-weight: 400;
  color: #828282!important;
}

.enfant, .naissance{
  padding-top: 5px;
}

.indice_date{
  display: inline-block;
}

.indice_date label{
  font-size: 13px !important;
  color: #828282!important;
}

.indice_date label:after{
  content: ':';
}

.entry_date{
  display: inline-block;
}

.naissance select{
    font-size: 13px;
    border: none;
    background-color: #F2F2F2;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}
.deptNaissance{

}
.ville{
    display: inline-block;
    width: 205px;
    margin-left: 8px;
}

.codePostal{
  width: 100px;
  margin-left: 8px;
}

.enfant{
  margin-left: 20px;
}

.enfant div{
  display: inline-block;
}

.enfant input{
  max-width: 50px;
  border: none;
  margin-left: 10px;
  text-align: center;
}

.enfant label{
  font-size: 13px !important;
  font-weight: 400;
  color: #828282!important;
}

.enfant label:after{
  content:':';
}

.bloc_form{
    position: relative;
}
.custom_label{
    position: absolute;
    top: 8px;
    left: 5px;
    pointer-events:none;
    font-size: 13px;
    transition: 0.2s ease all;
}
.border{
    display: block;
    width: 0%;
}

[class*="border"]::before,[class*="border"]::after{
    content:'';
    position: absolute;
    height: 3px;
    width: 0%;

    transition:0.2s ease all;
    bottom: -1px;
}

.border::before,.border::after{
    background-color: #ED9767;
}

.border_login::before,.border_login::after{
    background-color: #FFF;
}

[class*="border"]:before{
    left: 50%;
}
[class*="border"]:after{
    right: 50%;
}

input:focus ~ [class*="border"]:before, input:focus ~ [class*="border"]:after {
  width:50%;
}

.box_form_input_login{
    position: relative;
}
.box_form_input_login:nth-of-type(2){
    margin-top: 30px;
}
.input_login_touched ~ label,.input_touched ~ label {
    top: -19px;
    font-size: 11px;
    transition: 0.2s ease all;
}

.input_touched ~ label {
    color: #ED9767;
}

.iinput_login_touched ~ label {
    color: #FFF;
}

.custom_select{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
}

.header_adresse{
  width: 100%;
}

.inner_header_adresse{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.inline{
  font-size: 0;
}

.left,.right{
  display: inline-block;
}

.left:after{
  content: ':';
}

.left span, .left label{
  font-size: 13px !important;
  font-weight: 400;
  color: #828282 !important;
}

.content_dashboard label{
  display: block;
/*  color: #24888F;
 padding-left: 15px;
 height: calc(100% - 58.70%); */
  line-height: 20px;
}
.content_dashboard [type='text']{
 /*  height: 58.70%; */
/*  padding-left: 13px;*/
  color: #828282;
}

.mobilite{
  width: 100%;
  box-shadow: 0px 1px 2px #c4c4c4;
  margin-bottom: 4px;
  background: #FFF;
  padding: 5px 15px;
}
.ressource{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box_locomotion, .box_ressource{
  display: flex;
  width: 100%;
}
.autreM{
    /* width: 35%; */
    /*margin-left: 7%;*/
}

.typePermis{
    width: 52%;
    margin-left: 7%;
}
.custom_bloc_form{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

.block_doc{
  background-color: #fff;
  padding: 5px;
}
.full{
  width: 100%;
  display: block;
}
.column_2 textarea{
  background-color: #F2F2F2;
  border: none;
  resize: none;
  width: 100%;
  height: 110px;
  padding: 5px;
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

.rows::-webkit-scrollbar-track, .rows::-moz-scrollbar-track {
    background-color: #d6d6d6;
    border-left: 1px solid #ccc;
}

.rows::-webkit-scrollbar, .rows::-moz-scrollbar {
    width: 5px;
}

.rows::-webkit-scrollbar-thumb, .rows::-moz-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bloc_description{
  width: 100%;
}


.qpv{
  display: flex;
  justify-content: center;
}

.qpvnom{
  display: flex;
  justify-content: space-around;

}

.visibility{
visibility: visible;
}


.indice_qpv, .indice_qpvnom{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.indice_qpv label, .indice_qpvnom label{
  font-size: 13px;
  color: #828282;
}

.indice_qpvnom label:after{
  content: ':';
}

/* .qpvnom select{
    text-align: center;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.ShowBox{
  visibility: visible;
}

/*SEARCHING*/

.container_search{
  max-width: 960px;
  margin: 0 auto;
  margin-top: 10%;
}

.inner_block_search{
    position: relative;
}

.search{
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  width: 405px;
  height: 46px;
  background-color: #E0E0E0;
  padding-left: 10px;
}
.search form{
  display: flex;
  align-items: center;
  height: 100%;
}

.search input{
  background-color: transparent;
  border: none;
  color: #828282;
  height: 35px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.search input:focus{
  outline: none;
}

.search button{
  width: 20px;
  background-color: transparent;
  border: none;
}

.custom_select_filter{
    padding: 5px 5px 0 5px;
    border: 0;
    border-bottom: 1px dashed #C0C0C0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter_by{
  height: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  color: #828282;
  position: relative;
  /*padding-left: 15px;*/
}

.filter_by:after{
    content: '\f0dd';
    position: absolute;
    font-size: 10px;
    font-family: "FontAwesome";
    bottom: 17px;
    right: 12px;
    z-index: 1;
    color: #C4C4C4;
}

.filter_by select{
  width: 95px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-size: 12px;
  padding-left: 9px;
  z-index: 2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* filter_ */
.box_search{
    display: table;
    margin: 0 auto;
    position: relative;
    height: 46px;
    font-size: 0px;
}
.option_filter{
    height: 46px;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    text-align: center;
    line-height: 46px;
    margin-left: 30px;
}

.option_filter i{
    font-size: 30px;
    line-height: inherit;
    color: #828282;
    cursor: pointer;
}

.filter_group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    position: absolute;
    right: 20%;
    background-color: #FFF;
    box-shadow: 0 1px 10px 0 #c0c0c0;
    padding: 15px;
    visibility: hidden;
}

.filter_group i{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.filter_group:after{
    content: '';
    border-bottom: 14px solid #FFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -14px;
    right: 56px;
}

.blfilter{
    display: table;
    position: relative;
    margin: 5px;
    /* width: 160px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-content: center;
    padding: 0 10px;
    padding-top: 20px;
    position: relative; */
}

.blfilter label{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-right: 0px;
    padding-right: 10px;
    color: #828282;
}

.blfilter select{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-width: 58px;
}

/* ROW SEARCH */

.row_search{
  display: flex;
  justify-content: space-around;
  height: 41px;
  background-color: white;
  width: 100%;
  margin-bottom: 5px;
}

.row_search .box span{
  display: block;
  /*line-height: 41px;*/
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #BDBDBD;
  text-align: center;
}

.filter_block{
    /* padding-top: 60px;
    margin-bottom: 70px;
    display: block; */
    /* position: absolute; */
}

.box{
  width: 135px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rows{
  background-color: #FFFFFF;
  width: 100%;
  min-height: 41px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  height: 50vh;
  border-top: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  border-opacity:0.7;
}

.rows::-moz-scrollbar-track{
  background-color: #eaeaea;
}

.row_item{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 63px;
  overflow: hidden;
}


.group_detail{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: #BDBDBD;
  min-height: 36px;
  height: 100%;
  font-size: 13px;
  border-bottom: 1px solid #c0c0c0;
  transition: 0.25s;
}

div.group_detail:last-of-type{
    border-bottom: none;
}

.gp_dl{
  background-color: #F1B18D;
  color: #FFFFFF!important;
  border-bottom: 2px solid #BB896D;
}

.group_detail:hover{
  background-color: #F1B18D;
  color: #FFFFFF!important;
}
.option_items{
  background-color: #DCA281;
  height: 0;
  max-height: 27px;
}

.item_detail_infoperso{
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.item_detail_infoperso span{
  text-align: center;
  word-wrap: break-word;
}

.item_detail_span{
/*   line-height: 41px; */
}

.item_detail_facien span{
    padding: 0 3px;
    word-wrap: break-word;
}

.option_items a{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.option_profil_show, .option_profil_edit{
  min-width: 50px;
  text-align: center;
}

.genre{
    width: 29%;
    font-size: 13px;
    padding-top: 6px;
}

.container_select{
    font-size: 13px;
    padding-top: 1px;
}

.mail{
  color: #ED9767;
}

.group_detail > span{
  line-height: 41px;
}
.spanMarginRight{
    margin-right: 10px;
}
.option_items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: 0.25s;
}

[class*="item_detail"]{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*  width: 115px;*/
  width: 96px;
  text-align: center;
}
[class*="item_detailuser"]{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  text-align: center;
}

.show_opt_item{
  height: 27px;
}

.toggle_filter{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
}

.toggle_filter span{
  margin: 0 auto;
  color: #828282;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 0;
  position: relative;
}

.arrow_status{
  margin: 0 auto;
}


/* .blfilter > select{
    display: inline-block;
    width: 64%;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 18px;
    z-index: 2;
    background: transparent;
    color: #828282;
    font-style: oblique;
}
.blfilter option{
    background-color: #ffffff;
    border:0px;
    outline:0px;
} */

.blfilter:after{
    content: '\f0dd';
    position: absolute;
    font-size: 10px;
    font-family: "FontAwesome";
    bottom: 4px;
    right: 3px;
    z-index: 1;
    color: #C4C4C4;
}

/* .form_filter{
    overflow: hidden;
    height: 0px;
    transition: 0.25s;
} */
.show_filter{
    /*height: 60px;*/
    height: 100px;
}

.spacer_filter{
    width: 100px;
    height: 2px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

.toggle_filter span::after {
    content: '\f0dd';
    position: absolute;
    top: 15px;
    font-family: fontawesome;
    right: 50%;
}

.container_list_user{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.container_list_user h1{
  margin-bottom: 24px;
    color: #F1B18D;
    font-weight: normal;
    font-size: 23px;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* REGISTER USER */


.container_registerUser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.container_registerUser .inner_container{
    width: 55%;
    margin: 0 auto;
    padding: 25px 60px;
    background: white;
    max-width: 560px;
}

.box_user_form:first-child{
  display: flex;
  justify-content: center;
}

.box_user_form:first-child .group_form_user{
  font-size: 0;
  display: block;
}

.box_user_form:first-child .group_form_user div{
  display: inline-block;
}

.box_user_form:first-child .group_form_user label{
  display: inline-block;
}

.box_user_form:first-child select{
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid #c0c0c0;
  background-color: transparent;
}

.box_user_form:nth-child(2){
  display: block;
  font-size: 0;
  margin: 20px 0;
}

.box_user_form:nth-child(2) > div{
  display: inline-block;
  width: 50%;
}

.box_user_form:nth-child(2) [type="text"]{
  border-bottom: 1px solid #c0c0c0;
}

.box_user_form:nth-child(2) div:first-child{
  padding-right: 10px;
}

.box_user_form:nth-child(2) div:nth-child(2){
  padding-left: 10px;
}

.box_user_form:nth-child(3){
  margin: 25px 0;
}

.box_user_form:nth-child(3) div{
  display: table;
  /*margin: 0 auto;*/
}

.box_user_form .group_form_user_email input{
  border: 0;
  border-bottom: 1px solid #c0c0c0;
}

.box_user_form:nth-child(4){
  display: block;
  font-size: 0;
}

.box_user_form:nth-child(4) div{
  display: inline-block;
  width: 50%;
}

.box_user_form:nth-child(5) input{
  float: right;
  height: 35px;
  width: 150px;
  border: 0;
  background-color: #ED9767;
  color: white;
}
/* Section responsive */

@media ( max-width: 1301px ) {

  #login_session{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container_login{
    width: 295px;
    height: 560px;
    margin-top: 0;
  }

  .welcome_login{
    height: 55%;
  }

  .form_login{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  [type="text"], [type="password"]{
    height: 35px;
  }

  #login_session [type="submit"]{
    height: 35px;
  }

/*   #login_session [for="username"], #login_session [for="password"]{
  font-size: 10px;
  font-weight: 500;
} */

  #login_session [for="username"], #login_session [for="password"] {
    margin-top: 0;
  }
}


/* USER PROFILE SHOW */

.container_user_user_show{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.fos_user_user_show{
    width: 55%;
    margin: 0 auto;
    padding: 25px 60px;
    display: table;
    background-color: #FFFFFF;
}

.user_status{
    text-align: center;
}

.user_status h1{
    font-size: 36px;
    font-weight: 200;
    color: #828282;
    margin-bottom: 5px;
}

.untitle_status p{
    display: inline-block;
    font-size: 13px;
    color: #c0c0c0;
}

.box_profil_user{
    margin-top: 20px;
}

.box_email, .box_password{
    text-align: center;
    font-size: 13px
}

.box_email input, .box_password input  {
    height: 35px;
    width: 40%;
    font-size: 13px;
    border: none;
    margin-left: 10px;
    color: #BDBDBD;
    /* border-bottom: 2px solid #BDBDBD; */
}

.box_password input{
    margin-left: 20px;
}

.box_email p{
    color: ;
    font-size: 13px;
}

.box_email p span{
  margin-left: 10px;
}

.box_btn{
    display: table;
    width: 100%;
    margin-top: 30px;
}

/*.btn_edit, .btn_Mdepasse*/
[class*="btn_"]{
    height: 35px;
    width: 120px;
    text-align: center;
    background-color: #ED9767;
    border: none;
    color: #FFFFFF;
/*     line-height: 35px; */
}


.btn_Mdepasse{
    float: left;
    background-color: #ED9767;
}

.btn_Mdepasse a{
    font-size: 12px;
    height: 100%;
    display: block;
    padding-right: 15px;
    padding-left: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.btn_edit input, [class*="btn_"] span, [class*="btn_"] a{
    height: 100%;
    width: 100%;
    background-color: #ED9767;
    border: none;
    font-size: 13px;
    font-weight: 400;
    color: white;
}

[class*="btn_"] span {
  line-height: 35px;
}

.PNEdit{
  display: block;
  font-size: 0px;
}

.PNEdit input{
  display: inline-block;
  width: 50%;
  text-align: right;
  width: 50%;
  font-size: 36px;
  font-weight: 200;
}

.PNEdit input:first-child{
    text-align: right;
}
.PNEdit input:nth-child(2){
    text-align: left;
}


/*
* floryan - for page edit & show
*/

.titrePage {
    font-size: 17px;
}
.form_newflux{
    width: 100%;
    margin: 0 auto;
    padding: 25px 60px;
    display: table;
    background-color: #FFFFFF;
}
.NewFlux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formLeft {
    flex-direction: column;
}
.colonneR {
    width: 108%;
}
.formcom1 {
    float: left;
}
.formcom2 {
    float: right;
}
/*.button_show {

}*/
.photos {
    width: 150px;
    min-height: 150px;
    margin-bottom: 20px;
    background-color: #4d4a4a;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
}
.photos img {
  	width: 100%;
}
/*.photo_edit label {

}*/
.fallback input {
    width: 50%;
}
.shadow{
    box-shadow: 0 1px 2px 0 #c0c0c0;
}
.section_res {
    margin-top: 15%;
}
.section h3 {
    font-weight: 300;
    text-transform: capitalize;
}
.section p {
    font-size: 13px;
}
.disable{
    display: none;
}
.btn_backlist,{
    display: inline-block;
    text-align: center;
    margin: 1% 0;
    line-height: 200%;
    height: 35px;
    width: 150px;
    border: 0;
    background-color: #ED9767;
    color: white;
}
.formLeft h3 {
    font-size: 15px;
}
.form-group select {
    border: none;
    border-bottom: 1px solid #868686;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

/*
*  Ronald - Rebase form register "demandeur"
*/

.header_form{
  width: 100%;
}

.inner_header_form{
    background-color: #FFF;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 15px;
    min-width: 285px;
    display: flex;
    justify-content: space-around;
}

.block_action,.bloc_form_facien{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 43px; */
}

.indice_facien label, .indice_status label{
  font-size: 13px;
  color: #828282;
}

.detail_facien{
    width: 180px;
}
.detail_facien input{
    width: 100%;
    text-align: center;
    background-color: #F2f2f2;
    border-bottom-style: dashed;
}

.qpvnom select{
    font-size: 13px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    font-style: oblique;
    text-align: center;
}

/* Pagination Liste */

.block_pagination{
  padding-top: 25px;
}

.inner_block_pagination{
  width: 260px;
  margin: 0 auto;
  font-size: 0px;
}

.inner_block_pagination div{
  display: inline-block;
  margin: 0 auto;
}

.inner_block_pagination div:first-child{
  margin-right: 20px;
}

/*  Metier */


.type{

}


/*SECTION FORM NEW DEMANDER*/

.form_flux{
    overflow: hidden;
    height: 100%;
}
#step_one{
height: 100%;
}

#step_one h4{
    margin-bottom: 10px;
    color: #828282;
    font-size: 13px;
    padding-left: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

#step_two{
    padding-top: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link_back{
    width: 100%;
}

.inner_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 56px);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80%;
}

.block_btn{
    display: flex;
    justify-content: end;
    width: 100%;
}

.btn_back, .btn_create{
    display: inline-block;
}

.inner_block_btn{
    display: flex;
    width: calc(120px * 2.1);
    justify-content: space-between;
}

.btn_create input{
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 13px;
    line-height: 33px;
}

.block_doc{
    width: 40%;
    max-height: 145px;
}

.block_compte_rendu{
    width: 50%;
    height: 80%;
    background-color: #FFF;
}

.bloc1{
    width: 100%;
    height: 20%;
    padding: 0 20px;
}

.bloc1 span{
    width: 100%;
    padding-top: 36px;
    display: block;
    height: 100%;
    color: #BDBDBD;
    font-size: 15px;
}

.bloc2{
    width: 100%;
    height: 80%;
    padding: 10px 20px 20px 20px;
}

.bloc2 textarea{
    width: 100%;
    background-color: #E5E5E5;
    border: none;
    overflow-y: scroll;
    resize: none;
    height: 100%;
    color: #828282;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.btnFormBack,.btnFormNext{
/*     width: 56px;
height: 56px; */
    /* background-color: #FFF; */
    color: #9e9e9e;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.2); */
    /* border-radius: 2em; */
    transform: translateZ(0);
    transition: all 0.5s ease;
    display: table;
    margin: 0 auto;
    padding-top: 26px;
}

.btnFormBack{
  margin-top: 2px;
}
.btnFormNext{
  margin-bottom: 13px;
}

.btnFormBack span, .btnFormNext span{
    font-size: 11px;
    display: block;
}

.btnFormBack:hover,.btnFormNext:hover{
    /* box-shadow: 0 0 2px rgba(0,0,0,0.4);
    background-color: #E69283;
    color: #FFF; */
}

.btnFormNext:after{
    content: '\f105';
    position: absolute;
    top: 16px;
    right: -17px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* margin: 0 auto;
    display: table;
    line-height: 56px;*/
    font-size: 32px;
}
.btnFormBack:before{
    content: '\f104';
    position: absolute;
    left: -17px;
    top: 16px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: block;
    font-size: 32px;
}

.btnFormBack:hover:before{
    webkit-animation-name: bounceEffectUp;
    animation-name: bounceEffectUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.25s;
    -webkit-animation-delay: .3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
.btnFormNext:hover:after{
    webkit-animation-name: bounceEffectDown;
    animation-name: bounceEffectDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.25s;
    -webkit-animation-delay: .3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

@keyframes bounceEffectUp {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes bounceEffectDown {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.block_doc{
    position: relative;
}
[type="file"] {
    border: 0;
    padding: 0;
    height: 35px;
    width: 170px;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.block_doc label{
    color: #FFF;
    background-color: #ED9767;
    height: 35px;
    width: 170px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    /* font-weight: 700; */
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

}


/* */

.container_profil{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner_container_profil{
    /* height: 580px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 4px 50px;
    background-color: #FFF;
    position: relative;
}

.content_bloc{
    width: 100%;
    height: 100%;
    display: flex;
}

.bloc_1{
    width: 60%;
    height: 90%;
}

.bloc_2{
    width: 40%;
    height: 90%;

    padding-left: 15px;
}

.bl1{
    width: 50%;
    height: 100%;
}

.identity_demandeur{
    display: block;
    text-align: center;
    font-size: 18px;
}

.info_demandeur{
    text-align: center;
    font-size: 11px;
}

.info_demandeur span{
    display: block;
    color: #828282;
}

.bl2{
    width: 50%;
    height: 100%;
    border-left: 1px solid #c6c6c6;
}

.show_adresse span,.show_formation span, .show_mobilite span{
    display: block;
    font-size: 13px;
}

.show_adresse{
    padding-left: 22px;
}

.show_etat_civile, .show_formation, .show_coordonnee{
    margin-bottom: 10px;
    border-bottom: 1px dashed #c6c6c6;
    padding-bottom: 10px;
}

.show_ressource_detail{
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}


.show_coordonnee_detail li{
    font-size: 13px;
    margin: 5px 10px;
    color: #333;
}

h5{
    font-size: 16px;
    margin: 0px 0 5px 0;
    color: #868686;
    font-weight: 400;
}

.show_ressource_detail li{
    /* margin: 5px 0; */
    /* min-width: 157px; */
}

.container_data{
    display: flex;
    margin: 3px 10px;
    justify-content: space-between;
}
.sized{
    width: 105px;
}
.colored{
    color: #ED9767;
    font-weight: 400;
}

.inputQPV{
    margin-top: 8px;
}

.text_right{
    text-align: right;
    font-weight: 300;
    color: #868686;
}

.show_coordonnee_detail li,.show_coordonnee_detail >span{
    font-weight: 300;
    color:#868686;
}

.para{
    flex-direction: column;
    font-weight: 300;
    color: #868686;
}

/* Show profil demandeur */

.bloc_profil_demandeur{
/*     background-color: #FFF; */
    width: 100%;
    height: 100%;
}

.demandeur_status{
    margin: 0 auto;
    /* height: 45%; */
    height: 37.5%;
}

.demandeur_status h1{
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    color: #828282;
    margin-bottom: 5px;
}

.demandeur_detail_status{
    height: 55%;
}

.inner_demandeur_detail_status{
    display: flex;
    justify-content: space-around;
}

.column_detail_1 h5,.column_detail_2 h5{
    text-align: center;
}

.column_detail_1, .column_detail_2{
    /* border-left: 1px outset #c6c6c6;
    border-right: 1px inset #c6c6c6; */
    width: 26%;
}

.column_detail_1 ,.column_detail_2 ,.column_detail_3{
    padding: 15px 0;
}
.column_detail_3{
    width: calc(45% - 2px);
    padding-left: 20px;
}
[class*="column_detail_"] span{
    font-size: 13px;
}
.show_compte_rendu_detail{
    background-color: #E6E6E6;
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
    font-size: 13px;
    text-align: justify;
}
.metier,.structure,.allocAutre,.id, .referent{
    position: relative;
}

.structure{
    margin-right: 30px;
}

.alloc{
    padding-top: 9px;
    margin-top: 15px;
    margin-right: 30px
}

.allocAutre{
    width: 163px;
}

.id{
    max-width: 135px;
    margin-right: 30px;
}

.show_compte_rendu_detail p{
    margin: 0;
    text-indent: 20px;
}

.show_compte_rendu_detail h5{
    text-align: left;
}
.spacer{
/*     height: 100%; */
    width: 1px;
    padding: 40px 0;
}
.inner_spacer{
    width: 100%;
    background: #E6E6E6;
    height: 100%;
}

.group_action {
    display: flex;
    margin-top: 30px;
}

.group_action input{
    font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
}
/* End show profil demandeur */

/*Profil photo*/
.profil_photo{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}

.profil_photo img{
    width: 100%;
}
/* End Profil photo */
.back_list{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #868686;
}


/* icon */
.show_coordonnee_detail li:first-child::before{
    content: '\f10b';
    font-family: 'Fontawesome';
    margin-right: 6px;
    font-size: 18px;
    margin-left: 3px;
}
.show_coordonnee_detail li:nth-child(2):before{
    content:'\f003';
    font-family: 'Fontawesome';
    margin-right: 10px;
}
.show_coordonnee_detail li:nth-child(3){
    position: relative;
}
.show_coordonnee_detail li:nth-child(3):before{
    content:'\f041';
    font-family: 'Fontawesome';
    margin-right: 10px;
    position: absolute;
    left: 3px;
}
.show_coordonnee_detail li:last-child{
    padding-left: 21px;
}
/* Input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
    background-color: #F2F2F2;
    font-size: 13px;
}

.detail_allo select{
    padding-bottom: 6px;
}

.vich-file input{
    cursor: pointer;
}

/* ICON MENU*/
.menu_item{
    position: relative;
}

.menu_item:first-child:before{
    content:'\f015';
    font-family: 'Fontawesome';
    font-size: 18px;
    position: absolute;
    left: 26px;
    top: -2px;
    color: #15696F;
}

.menu_item:nth-child(2):before{
    content:'\f2bd';
    font-family: 'Fontawesome';
    font-size: 18px;
    position: absolute;
    left: 26px;
    top: -1px;
    color: #15696F;
}

.menu_item:nth-child(3):before{
    content:'\f006';
    font-family: 'Fontawesome';
    font-size: 18px;
    position: absolute;
    left: 26px;
    top: -1px;
    color: #15696F;
}
